<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center">
    <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <h1 class="font-bold text-2xl mt-0 mb-2">Employee Assessment</h1>

        <form [formGroup]="loginForm">
        <span class="p-input-icon-left mb-4">
            <i class="pi pi-user"></i>
            <input formControlName="username" type="text" pInputText placeholder="Tên đăng nhập" class="w-full">
        </span>

        <span class="p-input-icon-left mb-4">
            <i class="pi pi-key"></i>
            <input formControlName="password" type="password" pInputText placeholder="Mật khẩu" class="w-full">
        </span>
        </form>
      <p>
        <a [routerLink]=""  (click)="goToSignUp()">Đăng ký tài khoản</a>
      </p>
        <button pButton pRipple label="Đăng nhập" class="mb-4" [loading]="isLoadingBtn" (click)="onLogin()"></button>

    </div>
</div>
