
.client__search {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

.input__container {
  width: 60%;
  height: 40px;
}

.p-input-icon-right {
  width: 100%;
}

.client__search {
  width: 100%;
}
