<p-toast></p-toast>
<div class="progress-spinner" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>

<div class="surface-ground h-screen w-screen flex align-items-center justify-content-center">
  <div class="surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column " style="border-radius:14px">
    <div (click)="backToLogin()" class="flex mb-4 login__return">
      <i class="pi pi-arrow-left mr-3 text-primary"></i>
      <span class="text-primary">Trở về trang đăng nhập</span>
    </div>

    <h1 class="font-bold text-2xl mt-0 mb-2">Đăng ký tài khoản</h1>

    <form [formGroup]="signUpForm">
        <span class="p-input-icon-left mb-4">
            <i class="pi pi-user"></i>
            <input
              formControlName="userName"
              type="text"
              pInputText
              placeholder="Tên đăng nhập"
              class="w-full"
              [ngClass]="signUpForm.get('userName')?.invalid && signUpForm.get('userName')?.touched ? 'ng-invalid ng-dirty': '' "
            >
          <small *ngIf="signUpForm.get('userName')?.invalid && signUpForm.get('userName')?.touched"
                 class="p-error">
                 Không được để trống
          </small>
        </span>

      <span class="p-input-icon-left mb-4">
            <i class="pi pi-key"></i>
            <p-password
              formControlName="password"
              type="password"
              placeholder="Mật khẩu"
              [toggleMask]="true"
              [style]="{'width':'100%'}"
              [inputStyle]="{'width':'100%'}"
              [ngClass]="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched ? 'ng-invalid ng-dirty': '' "
            >
            </p-password>
            <small *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched"
                   class="p-error">
                 Không được để trống
          </small>
        </span>

      <span class="p-input-icon-left mb-4">
            <i class="pi pi-heart"></i>
            <input
              formControlName="fullName"
              type="text"
              pInputText
              placeholder="Họ và tên"
              class="w-full"
              [ngClass]="signUpForm.get('fullName')?.invalid && signUpForm.get('fullName')?.touched ? 'ng-invalid ng-dirty': '' "
            >
            <small *ngIf="signUpForm.get('fullName')?.invalid && signUpForm.get('fullName')?.touched"
                   class="p-error">
                 Không được để trống
          </small>
        </span>

      <span class="p-input-icon-left mb-4">
            <i class="pi pi-folder"></i>
            <input
              formControlName="cccd"
              [onlyNumber]="true"
              type="text"
              pInputText
              placeholder="CCCD"
              class="w-full"
              [ngClass]="signUpForm.get('cccd')?.invalid && signUpForm.get('cccd')?.touched ? 'ng-invalid ng-dirty': '' "
            >
            <small *ngIf="signUpForm.get('cccd')?.invalid && signUpForm.get('cccd')?.touched"
                   class="p-error">
                 Không được để trống
            </small>
        </span>

      <span class="p-input-icon-left mb-4">
            <i class="pi pi-phone"></i>
            <input
              formControlName="phoneNo"
              [onlyNumber]="true"
              pInputText
              placeholder="Số điện thoại"
              class="w-full"
              [ngClass]="signUpForm.get('phoneNo')?.invalid && signUpForm.get('phoneNo')?.touched ? 'ng-invalid ng-dirty': '' "
            >
            <small *ngIf="signUpForm.get('phoneNo')?.invalid && signUpForm.get('phoneNo')?.touched"
                   class="p-error">
                 Không được để trống
            </small>
        </span>

      <span class="p-input-icon-left mb-4">
            <i class="pi pi-home"></i>
            <input
              formControlName="address"
              pInputText
              placeholder="Địa chỉ"
              class="w-full"
              [ngClass]="signUpForm.get('address')?.invalid && signUpForm.get('address')?.touched ? 'ng-invalid ng-dirty': '' "
            >
            <small *ngIf="signUpForm.get('address')?.invalid && signUpForm.get('address')?.touched"
                   class="p-error">
                 Không được để trống
            </small>
        </span>

      <span class="p-input-icon-left mb-4">
            <i class="pi pi-envelope"></i>
            <input
              formControlName="email"
              pInputText
              placeholder="Email"
              class="w-full"
              [ngClass]="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched || signUpForm.get('email')?.hasError('email')  ? 'ng-invalid ng-dirty': ''"
            >
        <small *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched" class="p-error">Không
          được để trống</small>
        <small *ngIf=" signUpForm.get('email')?.hasError('email')" class="p-error">Sai định dạng email</small>
        </span>

      <span class="p-input-icon-left mb-4">
            <i class="pi pi-envelope"></i>
            <p-calendar [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}"
                        [showTime]="false"
                        dateFormat="dd.mm.yy"
                        formControlName="birthday"
                        [inline]="true"
            >
            </p-calendar>
        </span>

      <span class="p-input-icon-left mb-4">
           <p-dropdown [(ngModel)]="selectedGender"
                       optionValue="code"
                       optionLabel="name"
                       formControlName="gender"
                       [style]="{'width':'100%'}"
                       [options]="gender"
                       >
           </p-dropdown>
        </span>

      <div class="field">
        <label for="images">Thêm hình ảnh</label>
        <input
          id="images"
          formControlName="images"
          type="file"
          class="w-full"
          multiple
          (change)="onFileSelected($event)"
        >

        <ul>
          <li class="flex justify-content-between" *ngFor="let file of selectedFiles;let i=index">
            <span>{{file.name}}</span>
            <i class="pi pi-times" (click)="removeFile(i)"></i>
          </li>
        </ul>
      </div>


    </form>
    <p>
    </p>
    <button pButton pRipple label="Đăng ký" class="mb-4" (click)="onSignUp()"></button>

  </div>
</div>
